<h1 class="text-5xl font-bold text-blue-300 underline py-5">
    Hello world!
</h1>

<button class="bg-green-800 hover:bg-green-700 text-white rounded px-4 py-2"><%= link_to "ログイン", items_path %></button>