<div class="py-8">
    <div class="container m-8 p-8 max-w-4xl mx-auto text-center px-4">
        <%= image_tag("stockmate_static_page.png", alt: "Stock Mate") %>
    </div>

    <div class="container m-8 p-8 shadow-lg max-w-4xl bg-[#f8fffb]/70 mx-auto px-4 mt-16">

    <%= render 'shared/how_to_use' %>

        <div class="text-2xl font-bold mt-6 text-center mt-14">〜本リリース実装予定〜</div>
        <div class="text-xl font-bold m-4">
            <p class="m-1">（1）トップページに使い方、できることの作成</p>
            <p class="m-1">（2）一覧など全体のデザインの統一</p>
        </div>
    </div>
</div>
