<div class="py-8">
    <div class="container m-8 p-8 bg-base-100 shadow-lg max-w-4xl mx-auto px-4">
        <div class="text-8xl font-bold text-green-800 underline py-5">
            Stock Mate
        </div>

        <div class="text-2xl font-bold">〜使い方〜</div>
        <div class="text-xl font-bold m-4">
            <p class="m-1">（1）新規作成から、それぞれの項目に日用品を入力</p>
            <p class="m-1">（2）登録時に通知予定日を算出します</p>
            <p class="m-1">（3）登録した日時にアプリからLINEへ通知が来ます</p>
            <p class="m-1">（4）<i class="fas fa-clock text-2xl"></i> から好きな日時に通知日を変更できます</p>
            <p class="m-1">（5）<i class="fas fa-pen text-2xl"></i> から登録内容を編集できます</p>
        </div>
        <div class="text-2xl font-bold mt-6">〜本リリース実装予定〜</div>
        <div class="text-xl font-bold m-4">
            <p class="m-1">（1）LINE上からリッチメニューで通知の新規登録や編集、通知の再設定機能</p>
            <p class="m-1">（2）トップページに使い方、できることを設置</p>
            <p class="m-1">（3）フッターの3項目を作成してリンクを設置</p>
            <p class="m-1">（4）カテゴリーごとにアイコンを表示</p>
        </div>
        <div class="text-3xl font-bold text-center m-6">
            <p>利用中に不具合など、気づいたことがあれば
            <a href="https://chat.runteq.jp/runteq/channels/times_58a_nakajima_takeshi" class="text-blue-500 underline">こちら</a>まで</p>
            <p>ご連絡よろしくお願いします!!</p>
        </div>
        <div class="text-lg font-bold text-green-800 text-center">- RUNTEQ タケ_58a -</div>
    </div>
</div>
