<% if flash[:notice] %>
  <div class="alert font-bold text-green-500 bg-base-200">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger bg-error">
    <%= flash[:alert] %>
  </div>
<% end %>
