<div class="footer footer-center p-10 bg-base-100 text-base-content rounded">
    <nav class="grid grid-flow-col gap-4">
        <a href="https://www.kiyac.app/termsOfService/7DAiR4CXdDTMCjCPKVl4" class="link link-hover">利用規約</a>
        <a href="https://www.kiyac.app/privacypolicy/V9R2VsYlGR9ZmNgbDxPz" class="link link-hover">プライバシーポリシー</a>
        <a href="https://docs.google.com/forms/d/1lOwsepZGlRU5XHRc2sojF8LenJcu6XN-JH1CMlYCPBQ/edit" class="link link-hover">お問い合わせフォーム</a>
    </nav>
    <aside>
        <p>Copyright © 2025 - Takeshi Nakajima</p>
    </aside>
</div>
