<div class="mx-auto w-1/2 rounded shadow-lg border overflow-hidden mt-5 bg-white">
    <div class="relative pb-[60%]">
      <img src="https://picsum.photos/300/200" class="absolute object-cover h-full w-full">
    </div>
    <div class="p-4 text-2xl font-medium text-gray-700">ログイン成功！！</div>
</div>
<div class="p-4 text-bold text-primary">
    <p>Find me in app/views/items/index.html.erb</p>
</div>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
