<div class="min-h-screen flex justify-center items-center">
  <div class="container rounded-lg w-full max-w-xl mx-auto p-8 bg-[#f8fffb]/75 shadow-lg">
    <div class="p-4">
      <div class="font-bold mt-8 text-center text-5xl text-green-800 mb-6">新規登録</div>
      <div data-controller="items category-icon">
        <%= render 'shared/form', form_label: '登録' %>
      </div>
    </div>
  </div>
</div>
