@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .dynamic-width {
        @apply min-w-[400px] max-w-[600px] break-words;
    }

    .list-item-align {
        text-indent: -1.5rem;
        padding-left: 1.5rem;
    }
}

.bg-fixed{
    background-image: url("stockmate_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-possition: center;
    min-height: 100vh;
}

.btn {
    transition: none !important;
    transform: none !important;
}
